<ul class="horizontal gray">
  {%- assign pages = (site.pages | sort: 'order') -%}
  {% for page in pages %}
    {% assign filenames = page.name | split: "cat-" %}
    {% if page.layout == 'page' and filenames.size==1 %}
    <li><a href='{{site.url}}{{site.baseurl}}{{page.permalink}}'>{{page.title}}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<!-- thanks to https://copypet.jp/671/ -->
<div id="cp_mb">
  <input type="checkbox" id="cp_navimenuid">
  <label class="menu" for="cp_navimenuid">
    <div class="menuicon">
    	<span class="bar"></span>
    	<span class="bar"></span>
    	<span class="bar"></span>
    </div>

    <ul>
      <li><a id="home" href="{{site.url}}{{site.baseurl}}/">Home</a></li>
      {%- assign pages = (site.pages | sort: 'order') -%}
      {%- for page in pages -%}
        {%- assign filenames = page.name | split: "cat-" -%}
        {%- if page.layout == 'page' and filenames.size==1 -%}
        {%- assign abbrev = page.name | split: ".md" -%}
        <li><a id="{{abbrev[0]}}" href="{{site.url}}{{site.baseurl}}{{page.permalink}}">{{page.title}}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </label>
</div>
