<ul class="horizontal gray">
  {%- assign pages = (site.pages | sort: 'order') -%}
  <li><a href='{{site.url}}{{site.baseurl}}/posts'>Posts</a></li>
  <li><a id="archives" href="{{site.url}}{{site.baseurl}}/archives">Archives</a></li>
  <li><a id="about" href="{{site.url}}{{site.baseurl}}/about">About Us</a></li>
  <li><a id="link" href="{{site.url}}{{site.baseurl}}/links">Links</a></li>
  <li><a id="contact" href="{{site.url}}{{site.baseurl}}/contact">Contact Us</a></li>
</ul>

<!-- thanks to https://copypet.jp/671/ -->
<div id="cp_mb">
  <input type="checkbox" id="cp_navimenuid">
  <label class="menu" for="cp_navimenuid">
    <div class="menuicon">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <ul>
      <li><a id="home" href="{{site.url}}{{site.baseurl}}/">Home</a></li>
      <li><a id="posts" href="{{site.url}}{{site.baseurl}}/posts">Posts</a></li>
      <li><a id="archives" href="{{site.url}}{{site.baseurl}}/posts">Archives</a></li>
      <li><a id="about" href="{{site.url}}{{site.baseurl}}/posts">About Us</a></li>
      <li><a id="link" href="{{site.url}}{{site.baseurl}}/posts">Links</a></li>
      <li><a id="contact" href="{{site.url}}{{site.baseurl}}/posts">Contact Us</a></li>

    </ul>
  </label>
</div>