---
---
// The first two lines are essential for jekyll to recognize this file

// Define variables
$letter-color: #242038;
$ttw-red: #993333;
$white: #ffffff;
$breakpoints: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
	'md_ub': 'screen and (max-width: 999px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

body, h1, h2, h3, h4, h5, h6 {
	color: $letter-color;
}
@include mq(md_ub){
	body{
		padding: 0px;
	}
	section{
		padding: 20px 10px;
	}
}

header {
	@include mq(md_ub) {
    display: none;
  }
	@include mq(lg) {
    display: block;
  }
	@include mq(xl) {
    display: block;
  }
	background-color: $ttw-red;
	color: $white;
  width: 200px;
  float:left;
  position:fixed;
	border: 1px solid #000;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 34px 25px 22px 50px;
	margin: 30px 25px 0 0;
	-webkit-font-smoothing: antialiased;
}
ul.horizontal{
	height: 50px;
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
	li{
			float: left;
			width: 120px;
			display: list-item;
			// background-color: #242038;
			a{
				display: block;
				color: #666;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}
	}
}
ul.gray{
	border: 1px solid #e7e7e7;
	background-color: $letter-color;
	li a{
		color: $white;
	}
}
div.categories{// categories on post
	span{
		display: inline-block;
		border-radius: 5px;
		padding-right: 5px;
		padding-left: 5px;
	}
	span.brochure, span.brochure a, span.brochure a:hover{
		color: $white;
		background-color: $ttw-red;
	}
	span.campus-life, span.campus-life a, span.campus-life a:hover{
		background-color: #EFC69B;
		color: #343F49;
	}
	span.event, span.event a, span.event a:hover{
		background-color: #658457;
		color: #FFFFFF;
	}
	span.dept-intro, span.dept-intro a, span.dept-intro a:hover{
		background-color: #C69F89;
		color: #343F49;
	}
	span.others, span.others a, span.others a:hover{
		background-color: #607E9B;
		color: #FFFFFF;
	}
}
div.menubar{
	@include mq(md_ub) {
		height: auto;
		width: auto;
	  float: none;
	}
	@include mq(lg) {
		height: 100px;
		width: 650px;
	  float: right;
	}
	ul.horizontal{
		@include mq(md_ub) {
			display: none;
		}
		@include mq(lg) {
			display: block;
		}
	}
}

// thanks to https://copypet.jp/671/
#cp_mb{
	@include mq(md_ub) {
		display: block;
	}
	@include mq(lg) {
		display: none;
	}
	*, *:before, *:after {
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.menu {
		display: block;
		overflow: hidden;
		width: 60px;
		height: 60px;
		margin: 30px auto;
		cursor: pointer;
		-webkit-transition: all 0.3s ease-in-out;
		        transition: all 0.3s ease-in-out;
		border: 3px solid transparent;
		border-radius: 50%;
		background-color: #1b2538;
	}
	.menu div.menuicon {
		width: 30px;
		margin: 15px auto;
	}
	.menu div.menuicon .bar {
		display: block;
		width: 100%;
		height: 5px;
		margin-top: 3px;
		border-radius: 2px;
		background-color: #ffffff;
	}
	.menu ul {
		display: none;
		margin: 0;
		padding: 0;
		list-style-type: none;
		-webkit-transition: all 0.3s ease;
		        transition: all 0.3s ease;
		text-align: center;
		opacity: 0;
	}
	.menu ul li {
		display: inline-block;
	}
	.menu ul li a {
		display: inline-block;
		padding: 0.7em 0.5em;
		-webkit-transition: all 0.3s ease-in;
		        transition: all 0.3s ease-in;
		text-decoration: none;
		color: #1b2538;
		border-bottom: 4px solid transparent;
		height: 56px;
		line-height: 2em;
	}
	.menu ul li a:hover {
		color: #ffffff;
		background-color: #1b2538;
	}
	.menu ul li a:target {
		border-bottom-color: #1b2538;
	}
	/* animation when clicked */
	#cp_navimenuid {
		display: none;
	}
	#cp_navimenuid:checked ~ .menu {
		width: 100%;
		height: 60px;
		border: 3px solid #1b2538;
		border-radius: 5px;
		background-color: transparent;
	}
	#cp_navimenuid:checked ~ .menu > ul {
		display: block;
		opacity: 1;
	}
	#cp_navimenuid:checked ~ .menu > .menuicon {
		display: none;
	}
}

//----------------------- Style for Home -----------------------//
ul.post-list{// list of posts
	list-style-type: none;
	li{
		height: 60px;
		div.post-item{
			div.categories{
				display: inline-block;
				width: fit-content;
				padding: 0px;
				float: left;
			}
			div.post-title{
				float: left;
				display: inline-block;
				clear: left;
				a{
					font-size: 12pt
				}
			}
			div.post-eyecatch{
				float: right;
				height: 60px;
				img{
					height: 48px; // li "height: 60px", img "padding:5px"を考慮。
					display: inline-block;
					margin: 0px;
				}
			}
		}
	}
}
