<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
{%- include head.html -%}
  <body>
    <div class="wrapper">
      {%- include header.html -%}
      <div class="menubar">
        {%- include menubar.html -%}
      </div>
      <section>
        {{ content }}
      </section>
      {%- include footer.html -%}
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if site.google_analytics %}
      {%- include google-analytics.html -%}
    {% endif %}
  </body>
</html>
