---
layout: base
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{page.title}}</h1>
  {%- endif -%}

  <h2>新歓情報 🎉🎉🎉</h2>

  <p>Ttime!では今年も一緒に活動していく仲間を募集しています！詳しくは<a href="{{site.url}}{{site.baseurl}}/recruiting">こちら</a>から！</p>

  <!-- <p>Ttime!では今年も一緒に活動していく仲間を募集しています！詳しくは<a href="../pages/recruiting.md">こちら</a>から！</p> -->


  
  
  {%- if site.posts.size > 0 -%}
    <h2>新着</h2>
    <ul class="post-list">
      {% for post in site.posts limit: 10 %}
        <li>
          {%- include post_display_card.html post=post -%}
        </li>
      {% endfor %}
    </ul>
    {%- for keyvalue in site.categories -%}
      {%- assign c = keyvalue[0] -%}
      <h2>{{ site.names_category[c] }}</h2>
      {%- assign cat-posts = site.posts | where: "categories", c -%}
      <ul class="post-list">
      {%- for post in cat-posts limit: 5 -%}
        <li>
          {%- include post_display_card.html post=post show_category=false -%}
        </li>
      {%- endfor -%}
      </ul>
    {%- endfor -%}
  {%- endif -%}
</div>
